
# dataset
*.png
*.tif
*.jpeg
*.pth
*.pt
*.zip
*.csv
*.sh

# cache
.vscode
__pycache__
logs


# intermediate files
datasets/
embedder/
WSI_temp_files/
simclr/runs
simclr/all_patches.csv
test/
temp_train
temp_test
weights/
.ipynb_checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
*.ipynb
abmil.py

# Exclude the following files
!thumbnails/framework.png
!datasets/acrobat/meta_data/acrobat_label.csv