
# dataset
*.png
*.tif
*.jpeg
*.pth
*.pt
*.zip
*.csv


# cache
.vscode
__pycache__
logs

# model weight
BCSS_segmentation/bcss_fold0_ft_model.pth.tar
BCSS_segmentation/*.zip

# dsmil-wsi
dsmil-wsi/datasets/
dsmil-wsi/embedder/
dsmil-wsi/WSI_temp_files/
dsmil-wsi/simclr/runs
dsmil-wsi/simclr/all_patches.csv
dsmil-wsi/test/
dsmil-wsi/temp_train
dsmil-wsi/weights/
dsmil-wsi/.ipynb_checkpoints
dsmil-wsi/.ipynb_checkpoints/
dsmil-wsi/*/.ipynb_checkpoints/*
dsmil-wsi/*.ipynb
dsmil-wsi/abmil.py
dsmil-wsi/test-c16/
